<html>
<head>
  <title>Google maps example</title>
    <!-- This includes the google maps API code. 
	 You need to put your own key here -->
    <script src="http://maps.google.com/maps?file=api&v=2&key=[ABQIAAAA80GREbkw1P_McCYApObmfhTJQa0g3IQ9GZqIMmInSLzwtGDKaBTV2iSpaH-8ofqrherwiL6ioCBt7g]" 
	type="text/javascript"></script>

    <script type="text/javascript">
        // helper function to create markers
        function createMarker(point,html) {
            var marker = new GMarker(point);
            GEvent.addListener(marker, "click", function() {
             marker.openInfoWindowHtml(html);
             });
            return marker;
        }
        
        // this is called when the page loads. 
        // it initializes the map, and creates each marker
        function initialize() {
            var map = new GMap(document.getElementById("map"));
            map.addControl(new GSmallMapControl());
            map.centerAndZoom(new GPoint(-122.443882, 37.769079), 5);
            
            <%@places.each do |place|%>
            var point = new GPoint(<%=place[:longitude]%>,<%=place[:latitude]%>);
            var marker = createMarker(point,'<div><%=h place[:description]%></div>')
            map.addOverlay(marker);
            <%end%>
        }    
    </script>

</head>
<body onload="initialize()">

Here's the map:
<!-- This is the element in which the map will be displayed. -->
<div id="map" style="width: 450px; height: 350px"></div>

</body>
</html>
