<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"➥
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
     <script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAfAb2RNhzPaf0W1mtifapBRI9caN7296ZHDcvjSpGbL7PxwkwBSZidcfOwy4q2EZpjEJx3rc4Lt5Kg"
type="text/javascript"></script>
     <%=javascript_include_tag 'prototype', 'application', 'Tooltip' %>
     <script type="text/javascript">

     
     </script>
     <%=stylesheet_link_tag "stylish.css"%>
</head>
<body id="body">
<div id="content">
<div class="paddingwrap-content">

<!--<h3>MAP GOES HERE</h3>-->
<div id="map"></div>
</div><!-- close div.paddingwrap -->
</div><!-- close div#content -->
<div id="sidebar-left">
<div class="paddingwrap">



<% form_remote_tag(:url => {:action => 'list'},
    :update => "list-items", :success => "markeradd ()",
    :html => {:id => 'list_form'}) do %>


  <p style="font-family: futura, helvetica, arial;">
    Building type: <br/><br/>
	  <%= select_tag ('feature', options_for_select([['Choose a building type', '']] + @features.collect {|fea| [fea.name, fea.id]},@feature)) %><br/>
  </p>
  <p><br/>
<%= submit_tag 'Show' %>


<% end -%>

  </p>

</div><!-- close div.paddingwrap -->
</div><!-- close div#sidebar-left -->
<<div id="sidebar-right">
<div class="paddingwrap">

<div id="home-menu">

<div id="list-items">
</div><!--close div.list-items -->
</div><!--close div.home-menu -->



</div><!-- close div.paddingwrap -->
</div><!-- close div#sidebar-right -->

<div id="header">
<h1>University of Toronto Map</h1>
<h2>Well, well, well.</h2>
</div><!-- close div#header -->
<div id="footer">

<p>THIS WRITING IS ON THE BOTTOM </p>
</div><!-- close div#footer -->

<!-- Tooltip div -->




</body>
</html>

